<section class="about-us-section bg-light py-5">
    <div class="container">
        <h1 class="text-center text-color-dark mb-3">Chi Siamo</h1>
        <p class="lead text-center mb-5">Scopri di più sulla nostra clinica e sui valori che guidano il nostro lavoro.</p>

        <div class="row g-4 align-items-center">
            <div class="col-md-6">
                <img src="~/Assets/uploads/clinest.jpg" alt="Esterno della Clinica" class="img-fluid rounded shadow">
            </div>
            <div class="col-md-6">
                <h2 class="h4 text-secondary">La Nostra Storia</h2>
                <p>La Clinica CliniCare360 è stata fondata nel 2000 con l'obiettivo di fornire cure mediche di eccellenza nella città di [città]. Da allora, siamo cresciuti per diventare uno dei principali fornitori di servizi sanitari nella regione, con un impegno costante verso l'innovazione e la cura compassionevole.</p>
            </div>
        </div>

        <div class="row g-4 mt-5 flex-md-row-reverse align-items-center">
            <div class="col-md-6">
                <img src="~/Assets/uploads/clinica1.jpg" alt="Interno della Clinica" class="img-fluid rounded shadow">
            </div>
            <div class="col-md-6">
                <h2 class="h4 text-secondary">La Nostra Missione</h2>
                <p>La nostra missione è migliorare la salute e il benessere dei nostri pazienti attraverso pratiche mediche all'avanguardia e un approccio olistico alla cura del paziente.</p>
            </div>
        </div>

        <div class="row g-4 mt-5  align-items-center ">
            <div class="col-md-6">
                <img src="~/Assets/uploads/clinica2.jpg" alt="Interno della Clinica" class="img-fluid rounded shadow">
            </div>
            <div class="col-md-6">
                <h2 class="h4 text-secondary">I Nostri Valori</h2>
                <ul class="list-unstyled">
                    <li><strong>Integrità</strong> - Agiamo con onestà e trasparenza.</li>
                    <li><strong>Compassione</strong> - Ogni paziente è trattato con gentilezza e rispetto.</li>
                    <li><strong>Eccellenza</strong> - Ci impegniamo per la massima qualità in tutte le nostre azioni.</li>
                </ul>
            </div>

        </div>

        
    </div>
</section>
